<h1>Movie Index Page</h1>

<nav>
	<div class='date'>
		2018-04-12
	</div>
	<div class='date'>
		2018-04-13
	</div>
	<div class='date'>
		2018-04-14
	</div>
	<div class='date'>
		2018-04-15
	</div>
	<div class='date'>
		2018-04-16
	</div>
	<div class='date'>
		2018-04-17
	</div>
</nav>

<div class='movie'>
	<% @movie_list.each do |movie| %>

		<div class='title'>
			<h2><%= movie[:movie].title %></h2>
		</div>

		<div class='showings'>
			<% movie[:showings].each do |showing| %>

				<span class=<%= showing.date %>>
					<%= link_to showing.time, showing %>
				</span>

			<% end %>
		</div>



	<% end %>
</div>
