body{
	background-color: rgb(23, 143, 214);
	width: 95vw;
	margin: 0 auto;
}
nav{
	display: flex;
	background-color: rgb(3, 68, 136);
	color: rgb(204, 221, 232);
}
nav div{
	width: 19vw;
	height: 10vw;
	text-align: center;
	line-height: 10vw;
	font-size: 2.5vw;
}
nav div:hover{
	background-color: rgba(255, 255, 255, .5);
	cursor: pointer;
}
h1, h4, h3{
	color: rgb(205, 221, 232);
	margin: 2vw auto;
	text-align: center;
}
h1{
	font-size: 4vw;
}
h4{
	font-size: 3vw;
}
h3{
	font-size: 3.5vw;
}
.movie{
	background-color: rgb(3, 68, 136);
	color: rgb(204, 221, 232);
}
.title h2{
	padding-top: 1vw;
	padding-left: 1vw;
	font-size: 4vw;
}
.showings{
	display: flex;
	flex-wrap: wrap;
}
.showings span{
	width: 18vw;
	height: 10vw;
	margin: 0 .5vw;
	display: none;
	background-color: rgb(133, 203, 51);
	text-align: center;
	line-height: 10vw;
	border-radius: 10%;
	font-size: 2.5vw;
}
a{
	text-decoration: none;
	color: rgb(1,22,56);
}
.showings span:hover{
	background-color: rgba(255,255,255,.5);
	cursor: pointer;
}
form{
	background-color: rgb(3, 68, 136);
	border: 10px solid  rgb(1,22,56);
	width: 75%;
	margin: 0 auto;
}
form p{
	color: rgb(204, 221, 232);
	font-size: 2.5vw;
}