<h1>Thank You For Your Purchase</h1>

<div id='confirm'>
	<div>
		Your purchase of <%= @transaction.quantity %> tickets has been confirmed.
	</div>

	<div>
		Your receipt will be emailed to <%= @transaction.email %>	
	</div>

	<div>
		Your card will be charged $<%= @transaction.cost %>
	</div>
</div>